* {
  box-sizing: border-box;
}

body {
  width: 88%;
  max-width: 34em;
  margin: 1em auto;
  font: 1em/1.5 Georgia, serif;
}

h2 {
  text-transform: capitalize;
}

a {
  color: #0277bd;
}

a:hover {
  text-decoration: none;
}